<a href="https://colab.research.google.com/github/hawraaali23/BigDataApplications/blob/main/Tutorial1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("test message") #printng string
print(2+2) #printing result of equation
weekday = "Monday"
print(f"Today is {weekday}") #string literarls

test message
4
Today is Monday

In [ ]:
a = 5
my_name = "Hawraa"
my_object = {
    "flat": 20,
    "type": "residential"
}
my_list = [1, 2 ,3.4]

In [ ]:
print(type("Hello, world!"))
print(type(42))
print(type(3.145))
print(type(1j))
print(type(["egg", "bacon", "spam"]))
print(type(("egg", "bacon", "spam")))
print(type(range(6)))
print(type({"name" : "Hawraa", "age" : 22}))
print(type({"egg", "bacon", "spam"}))
print(type(True))
print(isinstance(3.14, int))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>
False

In [ ]:
print("Then Mike said 'what is that?'")
print("it's a beautiful day")

Then Mike said 'what is that?'
it's a beautiful day

In [ ]:
print('hello' == 'hello')
print(2!=2)
print([1,2]<[1,2,3])
print(float(2)>=int(2))
print('a'<'A')

True
False
True
True
False

In [ ]:
print(True and True)
print(True and False)
print(True or False)
print(not(4<5 and 4<10))

True
False
True
False

In [ ]:
number = int(input("Enter a number: "))

if number == 10:
  print(f"{number} is equal to 10.")
else:
  print(f"{number} is not equal to 10.")

Enter a number: 2
2 is not equal to 10.

In [ ]:
age = input("What is your age? ").strip()
age = int(age)
if age <= 5:
  price = "Free!"
elif age <= 12:
  price = "$5"
elif age <= 17:
  price = "$8"
elif age <= 59:
  price = "$12"
else:
  price = "Free!"

print(f"since you are {age} years old, your ticket price is {price}.")

What is your age? 22
since you are 22 years old, your ticket price is $12.