Plotly

In [2]:
import plotly.express as px

In [3]:
df = px.data.carshare()
df = df.sample(n=50, random_state=1)
df.head()

     centroid_lat  centroid_lon    car_hours  peak_hour
67      45.519690    -73.568188   681.500000         21
248     45.532564    -73.567535   694.916667          5
211     45.541297    -73.587612  1749.416667          3
161     45.499335    -73.626088   309.750000          2
91      45.479633    -73.629873   566.833333          4

In [4]:
fig = px.scatter_mapbox(data_frame= df, lat= "centroid_lat", lon="centroid_lon", color= "peak_hour", size = "car_hours", mapbox_style='open-street-map', ###dont forget this, 
                        color_continuous_scale = "plasma", size_max = 15, zoom=10)

In [5]:
df = px.data.gapminder().query("year == 2007")
print(df.shape)
df.head()

(142, 8)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
11,Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
23,Albania,Europe,2007,76.423,3600523,5937.029526,ALB,8
35,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
47,Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
59,Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32

In [ ]:
fig = px.sunburst(data_frame=df, path=['continent', 'country'], values = 'pop', color='gdpPercap', hover_name ='iso_alpha', hover_data= ['lifeExp'])
fig.show()

linear regression code along data science project

import packages

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px #intereactive charts,saved coding
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#change settings to improve default style (optional)
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10,6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

Data path

In [ ]:
data_path = r'/workspaces/BigDataApplications/raw_data/medical-charges.csv'

Load data

In [ ]:
medical_df = pd.read_csv(data_path)

In [ ]:
medical_df.info() #dataset info

In [ ]:
medical_df.head() #top lines of dataset

In [ ]:
medical_df.describe() #statistical description

In [ ]:
medical_df['age'].describe() #description of certain column

In [ ]:
medical_df[['age', 'bmi']].describe()

EDA & visualisation

age distribution

In [ ]:
fig = px.histogram(
    medical_df,
    x='age',
    marginal='box',
    nbins=47, # bin for each year. Calculated from min and max age in the dataset.
    title="Age distribution"
)
fig.update_layout(bargap=0.1)
fig.show()

BMI distribution

In [ ]:
fig = px.histogram(
    medical_df,
    x='bmi',
    marginal='box',
    color_discrete_sequence=['red'],
    nbins=47, # bin for each year. Calculated from min and max age in the dataset.
    title="BMI distribution"
)
fig.update_layout(bargap=0.1)
fig.show()

charges

In [ ]:
fig = px.histogram(
    medical_df,
    x='charges',
    color='smoker',
    marginal='box',
    color_discrete_sequence=['green', 'grey'],
    nbins=47, # bin for each year. Calculated from min and max age in the dataset.
    title="Annual medical charges"
)
fig.update_layout(bargap=0.1)
fig.show()

smoker

In [ ]:
medical_df.smoker.value_counts()

In [ ]:
px.histogram(
    medical_df,
    x='smoker',
    color='sex',
    title='Smoker',
)

ages and charges

In [ ]:
fig = px.scatter(
    medical_df,
    x='age',
    y='charges',
    color='smoker',
    opacity=0.8,
    hover_data=['sex'],
    title="Age vs. Charges"    
)
fig.update_traces(marker_size=5)
fig.show()

BMI & charges

In [ ]:
fig = px.scatter(
    medical_df,
    x='bmi',
    y='charges',
    color='smoker',
    opacity=0.8,
    hover_data=['sex'],
    title="BMI vs. Charges"    
)
fig.update_traces(marker_size=5)
fig.show()

In [ ]:
px.violin(
    medical_df,
    x='children',
    y='charges'
)